mixin user(data="taiye")
    .border-2.border-gray-100.shadow-lg.flex.transform.transition-all.duration-500.rounded-lg.px-4.py-2(class="hover:scale-105 hover:shadow-2xl")
      .rounded-full.h--6.w-6.bg-black.mr-2
      .text-sm= data